[submodule "image_processing_Assignment_21"]
	path = image_processing_Assignment_21
	url = git@github.com:schahinheidari/image_processing_Assignment_21.git
[submodule "image_processing_Assignment_22"]
	path = image_processing_Assignment_22
	url = git@github.com:schahinheidari/image_processing_Assignment_22.git
[submodule "image_processing_Assignment_23"]
	path = image_processing_Assignment_23
	url = git@github.com:schahinheidari/image_processing_Assignment_23.git
[submodule "image_processing_Assignment_24"]
	path = image_processing_Assignment_24
	url = git@github.com:schahinheidari/image_processing_Assignment_24.git
[submodule "image_processing_Assignment_25"]
	path = image_processing_Assignment_25
	url = git@github.com:schahinheidari/image_processing_Assignment_25.git
[submodule "image_processing_Assignment_26"]
	path = image_processing_Assignment_26
	url = git@github.com:schahinheidari/image_processing_Assignment_26.git
[submodule "image_processing_Assignment_27"]
	path = image_processing_Assignment_27
	url = git@github.com:schahinheidari/image_processing_Assignment_27.git
[submodule "image_processing_Assignment_28"]
	path = image_processing_Assignment_28
	url = git@github.com:schahinheidari/image_processing_Assignment_28.git
[submodule "image_processing_Assignment_29"]
	path = image_processing_Assignment_29
	url = git@github.com:schahinheidari/image_processing_Assignment_29.git
[submodule "traitement_image"]
	path = traitement_image
	url = git@github.com:schahinheidari/traitement_image.git
